.env
.env.example
notebook/
notebook/.ipynb_checkpoints/
notebook/.cache/
notebook/.config/
notebook/.ipython/
notebook/.jupyter/
notebook/.local/
notebook/.env
notebook/jupyterlab_plotly_dapi.ipynb
notebook/rdp_xlwingsce_notebook.ipynb